/* Criado por Aparicio Fermiano Junior
https://github.com/AparicioFermiano */

.sidebar {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 5;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;
    font-size: 0.8em;
    display: None;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-dark);
    color: var(--font-light);
    justify-content: space-between;
    transform: translateX(100%);
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.sidebar.open {
    transform: translateX(0%);
}

.sidebar-item {
    list-style-type: none;
    font-size: 1.2em;
    padding: 4%;
    width: 100%;
    transition: 0.5s;
}

.sidebar-item:hover,
.sidebar-itema.active {
    background-color: var(--secondary);
}

.sidebar-item a {
    color: var(--font-light);
    text-decoration: none;
}

.sidebar-item-icon {
    background-color: var(--disabled-dark);
    border-radius: 50%;
    padding: 5%;
    width: 40px;
    height: 40px;
    margin-top: auto !important;
    margin-bottom: auto !important;
    line-height: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-item-title {
    margin-top: auto !important;
    margin-bottom: auto !important;
    display: block;
    margin-left: 5%;
    font-weight: 500;
}

.btn-sidebar-icon {
    background-color: transparent;
    font-size: 2em;
    padding: 3%;
    border: none;
    color: var(--font-light);
    transition: 0.5s;
}

.btn-sidebar-icon:hover {
    color: var(--secondary-hover);
}

.btn-sidebar {
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 6;
    right: 1rem;
    top: 1rem;
    width: 40px;
    height: 35px;
    background-color: rgba(0, 0, 0, 0.6);
    border: none;
    border-radius: 20%;
}
  
.btn-sidebar span {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: 2px;
    background-color: var(--font-light);
    transition: all 0.3s ease-out;
}

.btn-sidebar span + span {
    margin-top: 5px; /* adjust as needed */
}
  
.btn-sidebar span:last-of-type {
    margin-top: 5px; /* adjust as needed */
}

.btn-sidebar span:first-child {
    top: 0;
}
  
.btn-sidebar span:nth-child(2) {
    top: 30%;
    transform: translateY(-50%);
}

.btn-sidebar span:nth-child(3) {
    top: 60%;
    transform: translateY(-50%);
}

.btn-sidebar.open span:first-child {
    transform: rotate(45deg) translate(5px, 5px);
}

.btn-sidebar.open span:nth-child(2) {
    opacity: 0;
}

.btn-sidebar.open span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

.sidebar-p {
    padding-top: 4rem;
}