:root {
    --primary: #4BC2EF;
    --river: #F6F1F1;
    --primary-hover: #369FCE;
    --primary-light: #ffffff;
    --primary-light-hover: #6EC9EA;
    --primary-dark: #352F44;
    --primary-dark-hover: #a198b8;
    --secondary: #189ce5;
    --secondary-hover: #0088d1;
    --secondary-dark: #B33433;
    --aux: #B9B4C7;
    --aux-hover: #B9B4C7;
    --font-dark: #212121;
    --font-light: #FFF9F2;
    --disabled-dark: #8b8b8b62;
    --disabled: #B8B8B8;
    --card-size: 550px;
}

@font-face {
    font-family: 'Bootstrap Icons';
    src: url('../fonts/bootstrap-icons.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Bold';
    src: url('../fonts/Montserrat/Montserrat-Bold.woff2') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Medium';
    src: url('../fonts/Montserrat/Montserrat-Medium.woff2') format('truetype');
    font-weight:700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Regular';
    src: url('../fonts/Montserrat/Montserrat-Medium.woff2') format('truetype');
    font-weight:500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Bold';
    src: url('../fonts/Montserrat/Montserrat-Bold.woff2') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Medium';
    src: url('../fonts/Montserrat/Montserrat-Medium.woff2') format('truetype');
    font-weight:700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Regular';
    src: url('../fonts/Montserrat/Montserrat-Regular.woff2') format('truetype');
    font-weight:500;
    font-style: normal;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin: 0% !important;
    color: var(--font-dark);
    background-color: var(--primary-light);
}

/* CSS para desativar a barra de rolagem horizontal durante a animação shake */
body.shake-animation-active {
    overflow-x: hidden;
}

/* LINK */

body a {
    color: #008DDA;
    font-weight:bold;
    word-wrap: break-word;
}

.non-links {
    word-wrap: break-word;
}

#referencias {
    word-wrap: break-word !important;
}

body::-webkit-scrollbar,
.box-scrool::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track,
.box-scrool::-webkit-scrollbar-track {
    background: transparent;
}

body::-webkit-scrollbar-thumb,
.box-scrool::-webkit-scrollbar-thumb {
    background-color: var(--primary-dark);
    border-radius: 20px;
    border: 3px solid var(--font-light);
}

.scrool-item::-webkit-scrollbar,
.box-scrool::-webkit-scrollbar {
    width: 12px;
}

.scrool-item::-webkit-scrollbar-track,
.box-scrool::-webkit-scrollbar-track {
    background: transparent;
}

.scrool-item::-webkit-scrollbar-thumb,
.box-scrool::-webkit-scrollbar-thumb {
    background-color: var(--aux);
    border-radius: 20px;
    border: 4px solid var(--primary-dark);
}

p {
    font-size: 1em;
}

.row {
    --bs-gutter-x: 0 !important;
}

.carousel-inner {
    overflow-x: hidden !important;
}

.background-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.rio {
    border-radius: 50%;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logos {
    width: 60%;
}

.accordion-button:not(.collapsed) {
    color: var(--bs-accordion-active-color);
    background-color: var(--aux);
    box-shadow: inset 0 calc(-1* var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}

.body-cust {
    min-height: 14rem;
}

#capa {
    overflow: hidden;
}

.offcanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 4;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

.offcanvas.open {
    opacity: 1;
    visibility: visible;
}

/* UTILITARIOS */

.mr-auto {
    margin-right: auto !important;
}

.ml-auto {
    margin-left: auto !important;
}

.ml-5 {
    margin-left: 3px;
}

.min-vh-50 {
    min-height: 50vh !important;
}

.w-20 {
    width: 20% !important;
}

.padding-container {
    padding: 4rem;
}

.padding-x-container {
    padding-right: 4rem;
    padding-left: 4rem;
}

.text-justify {
    text-align: justify;
    -webkit-hyphens: auto;
    -ms-hyphens: auto !important;
    hyphens: auto !important;
    overflow-wrap: normal !important;
    word-break: break-word !important;
    -webkit-hyphenate-limit-before: 4;
    -ms-hyphenate-limit-chars: 4;
    text-justify: inter-word;
    word-wrap: break-word;
}

.line {
    width: 50%;
    height: 3px;
    background-color: var(--primary);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.pt-custom {
    padding-top: 8rem; /* ou o valor que desejar */
}

.carousel-person {
    height: 500px;
    overflow-y: auto; /* Adiciona uma barra de rolagem vertical se o conteúdo exceder a altura */
    max-height: 500px; /* Define a altura máxima para cada item do carrossel */
    width: 100%;
}

.carousel-inner {
    height: 90%;
    overflow: auto;
}

#creditos {
    margin-top: 4rem;
    margin-bottom: 10rem;
}

/* CORES */
.primary {
    color: var(--primary) !important;
}
.river {
    color: var(--river) !important;
}

.primary-light {
    color: var(--primary-light) !important;
}

.primary-dark {
    color: var(--primary-dark) !important;
}

.primary-dark-hover {
    color: var(--primary-dark-hover) !important;
}

.secondary {
    color: var(--secondary) !important;
}

.secondary-hover {
    color: var(--secondary-hover) !important;
}

.secondary-dark {
    color: var(--secondary-dark) !important;
}

.secondary-light {
    color: var(--secondary-light) !important;
}

.aux {
    color: var(--aux) !important;
}

.desativado {
    color: gray !important;
}

.ajuste-video {
    width: 90%;
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
}

/* BACKGROUND */
.bg-secondary {
    background-color: var(--secondary) !important;
}

.bg-font-light {
    background-color: var(--font-light) !important;
}

.bg-primary-light {
    background-color: var(--primary-light) !important;
}

.bg-aux-hover {
    background-color: var(--aux-hover) !important;
}

.bg-secondary-dark {
    background-color: var(--secondary-dark) !important;
}

.bg-primary {
    background-color: var(--primary) !important;
}

.bg-river {
    background-color: var(--river) !important;
}

.bg-primary-dark-hover {
    background-color: var(--primary-dark-hover) !important;
}

.bg-primary-dark {
    background-color: var(--primary-dark) !important;
}

.bg-primary-hover {
    background-color: var(--primary-hover) !important;
}

.bg-primary-light {
    background-color: var(--primary-light) !important;
}

.bg-aux {
    background-color: var(--aux) !important;
}

/* FONTES */
.font-Montserrat,
.font-Montserrat b {
    font-family: 'Montserrat', sans-serif;
}

.capitulo-capa {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 15rem;
}

.titulo-capa {
    font-size: 2rem;
}

.sub-titulo {
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 4rem;
    width: 75%;
    text-align: center;
    margin: 0 auto;
    line-height: 2.5rem;
}

.sub-titulo-capa {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 4rem;
    margin: 0 auto;
    line-height: 2.8rem;
    color: var(--font-dark);
}

.sub-titulo-dois {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 2rem;
}

.titulo-italico {
    font-weight: 300;
    font-style: italic;
    line-height: 0rem;
    padding-bottom: 2rem;
}

.titulo-pergunta {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.5rem;
}


.titulo {
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: rem;
}

.titulo-quebra {
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 3rem;
    
}

.titulo-rio {
    color: var(--primary-hover);
    font-size: 5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    line-height: 6rem;
}

.titulo-unidade {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1rem;
}

.titulo-material {
    font-size: 3rem;
    font-weight: 300;
}

.padding-custom {
    padding-top: 3rem;
}

b,
.bold {
    font-weight: 600;
}

.medium {
    font-weight: 700;
}

small {
    font-size: 0.8rem;
}

/* BOTOES */
.button,
.button.btn-outline:hover {
    background-color: var(--primary-dark);
    border-radius: 3rem;
    padding: 0.3rem;
    border: 2px solid var(--primary-dark);
    color: var(--font-light);
    text-align: center;
    transition: 0.3s;
}

.button,
.button.primary-dark-hover:hover {
    background-color: var(--primary-dark-hover);
    border-radius: 3rem;
    padding: 0.3rem;
    border: 2px solid var(--primary-dark-hover);
    color: var(--font-light);
    text-align: center;
    transition: 0.3s;
}

.button,
.button.primary-dark-hover {
    background-color: var(--primary-dark);
    border-radius: 3rem;
    padding: 0.3rem;
    border: 2px solid var(--primary-dark);
    color: var(--font-light);
    text-align: center;
    transition: 0.3s;
}

a.button {
    display: block;
    text-decoration: none;
}

.button.btn-col-2 {
    width: 48%;
}

.button.btn-col-3 {
    width: 32%;
}

.button:hover {
    border: 2px solid var(--primary-dark-hover);
    background-color: var(--primary-dark-hover);
}

.button.btn-outline {
    background-color: transparent;
    color: var(--font-dark);
    font-weight: 500;
    border: solid 2px var(--aux);
}

.button.btn-secondary {
    background-color: var(--secondary);
    border: 2px var(--secondary);
}

.button.btn-secondary:hover {
    background-color: var(--secondary-hover);
    border: 2px var(--secondary-hover);
}

.button.btn-aux-responder {
    font-weight: bold;
    color: var(--font-dark);
    background-color: var(--aux);
    border: 2px var(--aux);
}

.button.btn-aux-responder:hover {
    background-color: var(--primary);
    border: 2px var(--aux-hover);
}

.button.btn-aux {
    color: var(--font-dark);
    background-color: var(--aux);
    border: 2px solid var(--aux);
    font-weight: bold;
}

.button.btn-aux.clicado {
    background-color: var(--primary-dark-hover);
    color: var(--font-light);
    border-color: var(--primary-dark-hover); /* Adicione a cor da borda ativa */
}

.button.btn-primary {
    background-color: var(--primary);
    border: 2px var(--primary);
}

.button.btn-primary:hover {
    background-color: var(--primary-hover);
    border: 2px var(--primary-hover);
}

.button.btn-light {
    background-color: var(--font-light);
    color: var(--primary-dark-hover);
    border: none;
}

.button.btn-light.active {
    background-color: var(--primary-dark-hover);
    color: var(--font-light);
}

.circle {
    border-radius: 100%;
    width: 15px !important;
    height: 15px !important;
}

/* MODAL  */
kbd {
    color: var(--font-dark);
    background-color: #ffffff;
    
}

.modal-conteudo {
    background-color: var(--aux);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    margin: 1.4rem !important;
    
}

.div-modal-orientacao {
    width: 108rem; /* Definindo a largura em pixels */
    height: 35rem; /* Definindo a altura em pixels */
    max-width: 100%; /* Garante que a largura não exceda a largura do contêiner pai */
    max-height: 100%; /* Garante que a altura não exceda a altura do contêiner pai */
    overflow: auto; /* Adiciona barras de rolagem quando necessário */
}

.div-modal-orientacao::-webkit-scrollbar,
.box-scrool::-webkit-scrollbar {
    width: 12px;
}

.div-modal-orientacao::-webkit-scrollbar-track,
.box-scrool::-webkit-scrollbar-track {
    background: transparent;
}

.div-modal-orientacao::-webkit-scrollbar-thumb,
.box-scrool::-webkit-scrollbar-thumb {
    background-color: var(--aux);
    border-radius: 20px;
    border: 3px solid var(--aux);
}

.carousel-person::-webkit-scrollbar,
.box-scrool::-webkit-scrollbar {
    width: 10px;
}

.carousel-person::-webkit-scrollbar-track,
.box-scrool::-webkit-scrollbar-track {
    background: transparent;
    padding-right: 12px;
}

.carousel-person::-webkit-scrollbar-thumb,
.box-scrool::-webkit-scrollbar-thumb {
    background-color: var(--aux);
    border-radius: 20px;
    border: 4px solid var(--aux);
    padding-right: 12px;
}

/* Estilos para WebKit (Chrome, Safari, Opera) */
.div-modal-orientacao::-webkit-scrollbar {
    width: 12px;
}

/* Accordion - Animacao */

.accordion-button {
    color: var(--primary-dark) !important;
    font-weight: bold;
}

.accordion-button:not(.collapsed) {
    background-color: var(--aux);
}

/* OTHERS */

.box-saiba-mais {
    background-color: var(--aux);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box-saiba-mais-float {
    background-color: var(--aux);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 1rem;
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
}

.video-wrapper video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.box-img {
    border-radius: 1rem;
    background-color: var(--primary-dark-hover);
    margin-top: 3%;
    margin-bottom: 3%;
}

.img-estrutura {
    margin-left: auto !important;
    margin-right: auto !important;
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%,-50%)!important;
    width: 75% !important;
}

.carousel-indicators .active {
    background-color: var(--secondary);
}

/* MODAL  */

kbd {
    color: var(--font-dark);
    background-color: #ffffff;
    
}


.modal-conteudo {
    background-color: var(--aux);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    margin: 1.4rem !important;
    
}

.div-modal-orientacao {
    width: 108rem; /* Definindo a largura em pixels */
    height: 35rem; /* Definindo a altura em pixels */
    max-width: 100%; /* Garante que a largura não exceda a largura do contêiner pai */
    max-height: 100%; /* Garante que a altura não exceda a altura do contêiner pai */
    overflow: auto; /* Adiciona barras de rolagem quando necessário */
}

.div-modal-orientacao::-webkit-scrollbar,
.box-scrool::-webkit-scrollbar {
    width: 12px;
}

.div-modal-orientacao::-webkit-scrollbar-track,
.box-scrool::-webkit-scrollbar-track {
    background: transparent;
}

.div-modal-orientacao::-webkit-scrollbar-thumb,
.box-scrool::-webkit-scrollbar-thumb {
    background-color: var(--aux);
    border-radius: 20px;
    border: 3px solid var(--aux);
}


.carousel-person::-webkit-scrollbar,
.box-scrool::-webkit-scrollbar {
    width: 10px;
}

.carousel-person::-webkit-scrollbar-track,
.box-scrool::-webkit-scrollbar-track {
    background: transparent;
    padding-right: 12px;
}

.carousel-person::-webkit-scrollbar-thumb,
.box-scrool::-webkit-scrollbar-thumb {
    background-color: var(--aux);
    border-radius: 20px;
    border: 4px solid var(--aux);
    padding-right: 12px;
}



/* Estilos para WebKit (Chrome, Safari, Opera) */
.div-modal-orientacao::-webkit-scrollbar {
    width: 12px;
}

/* Accordion - Animacao */

.accordion-button {
    color: var(--primary-dark) !important;
    font-weight: bold;
}

.accordion-button:not(.collapsed) {
    background-color: var(--aux);
}

/* OTHERS */

.box-saiba-mais {
    background-color: var(--aux);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box-saiba-mais-float {
    background-color: var(--aux);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 1rem;
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
}

.video-wrapper video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.box-img {
    border-radius: 1rem;
    background-color: var(--primary-dark-hover);
    margin-top: 3%;
    margin-bottom: 3%;
}

.img-estrutura {
    margin-left: auto !important;
    margin-right: auto !important;
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%,-50%)!important;
    width: 75% !important;
}

.carousel-indicators .active {
    background-color: var(--secondary);
}

.icon-s {
    font-size: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}   

@media (min-width: 992px) {
    
    .w-lg-75 {
        width: 75% !important;
    }

    .w-lg-50 {
        width: 50% !important;
    }

    .padding-desk-5 {
        padding: 5% !important;
    }

    .padding-desk-3 {
        padding: 3% !important;
    }
}

@media (max-width: 992px) {
    .w-md-100 {
        width: 100% !important;
    }

    .w-md-75 {
        width: 75% !important;
    }

    .w-md-50 {
        width: 50% !important;
    }

    .titulo-capa {
        font-size: 1.8rem;
    }

    .capitulo-capa {
        font-size: 10rem;
        text-align: center;
    }

    .modulo-capa {
        font-size: 8rem;
        font-weight: 900;
    }

    .padding-container {
        padding: 2rem;
    }

    .padding-x-container {
        padding-right: 2rem;
        padding-left: 2rem;
    }

    #creditos {
        margin-bottom: 15%;
    }

    .logos {
        width: 100%;
    }
}

@media (max-width: 767px) {
   
    .pt-mobile-5 {
        padding-top: 5%;
    }

    .py-mobile-5 {
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .padding-container {
        padding: 1.2rem;
    }

    .padding-x-container {
        padding-right: 1.2rem;
        padding-left: 1.2rem;
    }

    .titulo-capa {
        font-size: 1rem;
    }

    .capitulo-capa {
        font-size: 5rem;
        text-align: center;
    }

    .modulo-capa {
        font-size: 3.5rem;
        font-weight: 900;
    }

    .padding-y-mobile-5 {
        padding-top: 5% !important;
        padding-bottom: 5% !important;
    }

    .padding-x-mobile-3 {
        padding-left: 3% !important;
        padding-right: 3% !important;
    }

    .capitulo-capa {
        display: none;
    }

    .pt-md-0 {
        padding-top: 0% !important;
    }

    .pt-md-5 {
        padding-top: 3rem !important;
    }

    .w-sm-75 {
        width: 75% !important;
    }

    .small-sm {
        font-size: 0.6rem;
    }

    #creditos {
     
        margin-bottom: 25%;
    }
}

@media (max-width: 768px) {
    body {
        font-size: 1rem;
    }

    .sub-titulo-capa {
        font-size: 2.25rem;
    }
    .titulo {
        font-size: 1.5rem;
        line-height: 2rem;
        text-align: start;
    }
    
    .titulo-quebra {
        font-size: 2.25rem;
        line-height: 2rem;
    }

    .titulo-material {
        font-size: 1.5rem;
        line-height: 2.5rem;
    }
    
    .titulo-rio {
        font-size: 4.75rem;
       }
 
       .sub-titulo {
        font-size: 1.37rem;
        line-height: 2rem;
    }

    .titulo-unidade {
        font-size: 0.62rem;
    }
    .sub-titulo-dois {
        font-size: 1rem;
        line-height: 1.62rem;
    }
    .sub-titulo {
        width: 100%;
    }
}

@media (max-width: 991px) {
    .box-saiba-mais-float {
      border-radius: 0%;
      margin-bottom: 3rem;
    }

    .carousel-control-prev,
    .carousel-control-next{
        display: none;
    }
}

@media (min-width: 796px) {
    .d-flex.col-6.py-4 button {
        border-radius: 50px; /* ou outro valor adequado */
    }
}

@media (max-width: 710px){
    .btn-cust {
        width: auto;
        height: 3rem;
        font-size: 1rem;
    }
}

@media (max-width: 614px){
    .btn-cust {
        width: auto;
        height: 3rem;
        font-size: 0.8rem;
        font-weight: bolder;
    }
}

@media (max-width: 320px) {

    label  {
        font-size: 1rem;
    }


}

@media (max-width: 576px) {
    .botao-capa {
        margin-top: 2.5rem;
    }
    .rios {
        width: 14rem;
    }
    .titulo-italico {
        line-height: 2rem;
        padding: 0;
        
    }
}

@media (max-width: 989px) {
    .texto-capa {
        width: 70% !important;
        margin: 0 !important;
    }
}

@media (max-width: 991px) {
    #sobre.pt-sm-5 {
        padding-top: 3rem !important; /* Você pode ajustar o valor conforme necessário */
    }
}

@media (max-width: 575px) {
    .retorno .explicacao {
        padding: 1.25rem !important; /* Mantém o padding mesmo em telas menores */
    }
}

@media (max-width: 425px) {
    .opcoes label {
        display: flex;
        flex-direction: column; /* Inverte a direção da coluna */
        align-items: flex-start !important; /* Alinha os itens no início (no topo) */
    }
    
    .opcoes label span {
        margin-bottom: 0.5rem; /* Adiciona um espaçamento entre a bolinha e o texto */
    }
}

@media (max-width: 425px) {
    .texto-capa {
     width: 100% !important;
    }
}
 @media (max-width:  320px) {
    .sub-titulo-capa {
     font-size: 1.8rem;
    }
       .texto-capa {
        width: 100% !important;
       } 
 }

@keyframes fadeInPopup {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  @keyframes scalePopup {
    from { transform: scale(0.9); }
    to { transform: scale(1); }
  }
